.heat-map-tab {
  display: flex;
}

.heat-map-controller {
  min-width: 186px;
  max-width: 316px;
  margin-bottom: 8px;
}

.label-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 300px;
  margin-bottom: 15px;
}

.label-container * {
  margin: 0;
}
