.upload-container {
  display: flex;
  background: white;
  padding: 13px;
  margin-bottom: 8px;
  width: 100%;
}

.upload {
  max-width: 300px;
  margin-right: 10px;
}

.table-container {
  width: auto;
  max-width: calc(100% - 300px - 10px);
  font-size: 12px;
  overflow: auto;
}

.table-container table.dataTable td,
.table-container table.dataTable th {
  padding: 3px 5px;
}
